<div class="row ">
    <div class="mx-auto btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked (click)="optionsToggled('hot')"> Hot
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off" (click)="optionsToggled('new')"> New
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off" (click)="optionsToggled('top')"> Top
        </label>
      </div>
</div>

